@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=PT+Serif&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital@0;1&family=Inter:wght@300;400&family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap');
/* FontFamilies:
font-family: 'Inria Serif', serif;
font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif; */


*{
    box-sizing: border-box;
}

Html{
    font-size: 62.5%;
    scroll-behavior:smooth;
} 
    
body{
    height:100vh;    
    width:100vw;
    /* color:#002147;
    background-color: #8da9c4; */
    color:#000000;
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 1.5rem ;
    margin:0 auto;
}

h1{
    font-family: "Inria Serif', regular;";
    font-weight: 500;
    text-align: center;
    font-size: 5rem ;
}

h2{
    font-size: 3rem;
    font-family:"Inria Serif', regular;";
    font-weight: 400;
    color: #D64933;
}

h3{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

h4{
    margin-bottom: 0;
    padding-bottom: 0;
}

br{
    line-height: 1.5rem;
    content: "\00a0";
}

button{
    font-family: Helvetica;
    /* color:#8da9c4;
    background-color: #0b2545; */
    color:#ffffff;
    background-color: #0b0b0b;
    width: 15rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;  
    font-size: 1.5rem;   
}

button:hover{
    /* background-color: #8ec9ff;
    color:#0b2545; */
    background-color: #ffffff;
    color:#000000;
    border: 2px solid black;
    cursor: pointer;
}

input{
    padding:0.5rem;
    font-size: 1.2rem;
    width:100%;
    height:3rem;
    background-color: transparent;
    border: none;
    /* border-bottom: 0.2rem solid #002147; */
    border-bottom: 0.2rem solid #000000;;
}

input:focus{
    font-family: Helvetica;
    outline: none;
    /* border: 0.1rem solid #002147; */
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
}

.membershipInvitation{
    max-width: 35rem;
    padding-top: 1.5rem;
    line-height: 2rem;
}

.centerDiv{
    position:relative;
    height:70vh;
    width:100vw ;
    display:flex;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content:center;
    align-items:center;
    z-index: 90;
}

.divLogin{
    position:relative;
    height:70vh;
    width:100vw ;
    display:flex;
    padding-top: 4rem;
    align-items:center;
    flex-direction: column;
}

.header{
    display: flex;
    position: relative;
    background-color: #92DCE5;
    width: 100vw;
    height: 20vh;
}

.buttonTryFree{
    align-self: flex-end;
    margin-left: auto; 
    margin-right: 2%;
    margin-bottom: 2%;
}

.buttonHome{
    align-self: flex-end;
    margin-right: auto; 
    margin-right: 2%;
    margin-bottom: 2%;
}

.button_logout{
    margin-top: 2rem; 
}

.material-symbols-outlined.home {
    /* background-color: #002147;
    color:#8da9c4; */
    background-color: #000000;
    color:#ffffff;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    border-radius: 50%;
    width:4rem;
    height:4rem;
    font-size: 1.8rem;
}

.material-symbols-outlined.home:hover {
    background-color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    width: fit-content;
    border-radius: 10px;
    height: 3rem;
    border:none;
    font-size: 1.5rem;
}

.buttonHome:hover span{
    display: none;
}

.buttonHome:hover:after{
    /* content: "Back"; */
    color: black;
    font-family: Helvetica;
    
}

.material-symbols-outlined{
    background-color: transparent;
    /* color: #002147; */
    color: #000000;
    display:inline;
    font-size: 1.5rem;
    width:3rem;
    height:3rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

a:visited {
    color: inherit;
  }
a:active{
    color:#8ec9ff
}
.buttonHide:hover{
    background-color: #D64933;
    width: fit-content;
    border: none
}

.buttonHide:hover span{
    display: none;
}

.buttonHide:hover:after{
    content: "Delete";
    color: white;
    font-family: Helvetica;
    padding-left: 15px;
    padding-right: 15px;
}

.textBox{
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #002147;
    font-size: 1.5rem;
    height: 5rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

textarea:focus{
    outline: #8ec9ff;
}

ul{
    list-style-type: none;    
    padding: 0;
    margin: 0;
}

ul li {  
    list-style: none;
  }

li{
    align-content: center;
    display:inline-block;    
   
  }
/* 
.ulBox{
    width: 30rem;
    height: 100vh;
} */

/* .ulBox_delete-list{
    display: flex;
    align-items: center;
} */
.divLogin_immediateChild{
    position: relative;
    display: flex;
    flex-direction: column;
}

.mainTitle{
    position: relative;
    display: flex;
    align-items: flex-start;
}

.ulBox_div{
    word-wrap: break-word;
    width: 100%;
    padding:15px;
    margin-top: 2rem;
}

/* .ulBox_button{
    align-self: center;
    margin-top: 2rem;
}

.ulBox_button:hover{
    background-color: rgb(255, 0, 204);
    color: white;
    margin-right: 2rem;
} */

.loader {
    border: 1rem solid #bababa; /* Light grey */
    border-top: 1rem solid #253d4e; /* Blue */
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    z-index: 100;
    animation: spin 2s linear infinite;
  }
.mainDiv{
    width:70%;
    top:0;
    position: absolute;
    margin-top: 10rem;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 

  .whitePageLoader{
    position:absolute;
    background-color: white;
    opacity: 0.5; 
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.buttonHide{
    margin-right: 1rem;
}

.backgroundAuth{
    display: flex;
    position: absolute;
    background-color: #92DCE5;
    width: 100vw;
    height: 20vh;
    z-index: 10;
    animation-name: completeBackground;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes completeBackground {
    from { height: 100vh; opacity: 0;}
    to {height: 100vh; opacity: 1; background-color: #92DCE5;}
  }

.fadeIn{
  animation-name: fadeInAnimation;
  animation-duration: 1s;
}

@keyframes fadeInAnimation{
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
}
}

.google-button-main-container{
    display: flex;
    position: relative;
    margin-top: 4rem;
    justify-content: center;
    width: auto;
    z-index: 90;
}

.google-icon-container{
    display: flex;
    position: absolute;
    z-index: 1;
    align-self: center;
    width:17rem;
}

.google-icon{
    width: 1.8rem;
    height: 1.8rem;
}

/* .google-icon-container{
   background-color: #D64933;
} */

.google-button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    color: #000000;
    width: 21rem;
    height: 4rem;
    position: relative;
    z-index: 100;
}

.google-button:hover{
    background-color: transparent;
}

.google-link{
    text-decoration: none;
    color: #000000;
    display: flex;
    margin-top: auto;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 4.5rem;
}


/* ----------------      MEDIA      ------------------- */
/* MIN = Estilos para pantallas más grandes que 720px */
/* MAX = Estilos para pantallas más pequeñas que 529px */

@media screen and (max-width: 422px){

    html{
        font-size: 60%;
    }

    .buttonTryFree{
        margin-right: 10%;
        margin-bottom: 2%;
    }

    .buttonHome{
        margin-left: 10%;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 422px){
    html{
        font-size: 70%;
    }

    .buttonTryFree{
        margin-right: 15%;
        margin-bottom: 2%;
    }

    .buttonHome{
        margin-left: 15%;
        margin-bottom: 2%;
    }

    /* .centerDiv{
        padding-left: 5%;
        padding-right: 5%;
        justify-content:center;
        align-items:center;
    } */

    /* .loader {
        position: absolute;
        border: 0.5rem solid #bababa; 
        border-top: 0.5rem solid #253d4e; 
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        z-index: 100;
        animation: spin 2s linear infinite;
      } */
      

    /* .textBox{
        width: 100%;
        height: 5rem;
        padding: 1rem 1rem;
        box-sizing: border-box;
        border: 0.2rem solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    } */
    
    /* h1{
        font-family: "Merriweather";
        text-align: center;
        font-size: 2.4rem ;
    }
    
    h2{
        font-size: 2.2rem;
        font-family: "Inria Serif', regular;";
        font-weight: 400;
        font-style: italic;
    }

    body{
        font-size: 1.3rem;
    } */

    /* .ulBox{
        width: 20rem;
        height: 100vh;
    } */

}

@media screen and (min-width: 529px){
    html{
        font-size: 75%;
    }

    .loader {
        position: absolute;
    }

    .centerDiv{
        padding-left: 5%;
        padding-right: 5%;
        justify-content:center;
        align-items:center;
    }

    /* .ulBox{
        width: 50rem;
        height: 100vh;
    } */
    
    /* h1{
        font-family: "Merriweather";
        text-align: center;
        font-size: 2.4rem ;
    }
    
    h2{
        font-size: 2.2rem;
        font-family: "Inria Serif', regular;";
        font-weight: 400;
        font-style: italic;
    }

    body{
        font-size: 1.3rem;
    } */


}

@media screen and (min-width: 720px){
    
    .buttonTryFree{
        margin-right: 25%;
        margin-bottom: 2%;
    }

    .buttonHome{
        margin-left: 25%;
        margin-bottom: 2%;
    }

    /* .loader {
        position: absolute;
    }
    
    .mainDiv{
        width:50%;
    }

    .centerDiv{
        position:relative;
        height:70vh;
        width:100vw;
        display:flex;
        padding-left: 10%;
        padding-right: 10%;
        justify-content:center;
        align-items:center;
    } */

}

@media screen and (min-width: 1038px){
    html{
        font-size: 85%;
    }

    .buttonTryFree{
        margin-right: 30%;
        margin-bottom: 2%;
    }

    .buttonHome{
        margin-left: 30%;
        margin-bottom: 2%;
    }

    /* .loader {
        position: absolute;
    }
    
    .centerDiv{
        position:relative;
        height:70vh;
        width:100vw ;
        display:flex;
        padding-left: 10%;
        padding-right: 10%;
        justify-content:center;
        align-items:center;
    } */
   
}

@media screen and (min-width: 1200px){
   
    .buttonTryFree{
        margin-right: 30%;
        margin-bottom: 2%;
    }

    .buttonHome{
        margin-left: 30%;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 1800px){
    html{
        font-size: 90%;
    }
    .buttonTryFree{
        margin-right: 30%;
        margin-bottom: 2%;
    }

    .buttonHome{
        margin-left: 30%;
        margin-bottom: 2%;
    }
}

