/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=PT+Serif&family=Sen&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display:ital,wght@0,400;1,500;1,900&display=swap');

*{
    box-sizing: border-box;
}

Html{
    font-size: 62.5%;
    scroll-behavior:smooth;
} 
    
body{
    height:100vh;    
    /* color:#002147;
    background-color: #8da9c4; */
     color:#000000;
    background-color: #c3c2c2;
    font-family: "Sen", Helvetica;
    font-size: 1.5rem ;
    margin:0 auto;
}

h1{
    font-family: "Playfair";
    font-weight: 900;
    text-align: center;
    font-size: 3.8rem ;
}

h2{
    font-size: 3rem;
    font-family: "Playfair";
    font-style: italic;
}

h3{
    text-align: center;
}

button{
    font-family: "Sen", Helvetica;
    /* color:#8da9c4;
    background-color: #0b2545; */
    color:#ffffff;
    background-color: #0b0b0b;
    width: 15rem;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;  
    font-size: 1.5rem;   
}

button:hover{
    /* background-color: #8ec9ff;
    color:#0b2545; */
    background-color: #ff8928;
    color:#090909;
    cursor: pointer;
}

input{
    padding:0.5rem;
    width:100%;
    height:3rem;
    background-color: transparent;
    border: none;
    /* border-bottom: 0.2rem solid #002147; */
    border-bottom: 0.2rem solid #000000;;
}

input:focus{
    font-family: "Sen", Helvetica;
    outline: none;
    /* border: 0.1rem solid #002147; */
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
}

.centerDiv{
    position:relative;
    height:100vh;
    width:100vw ;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 10%
}

.algo{
    align-self: center;
    justify-self: center;
}
.button_logout{
    margin-top: 2rem; 
}

.home {
    /* background-color: #002147;
    color:#8da9c4; */
    display: grid;
    background-color: #000000;
    align-items: center;
    justify-items: center;
    border-radius: 50%;
    width:4rem;
    height:4rem;
}

.home.material-symbols-outlined:hover {
    background-color: #ff8928;
    color:#090909;
    cursor: pointer;
    border-radius: 50%;
    width:5rem;
    height:5rem;
}

.material-symbols-outlined{
    background-color: transparent;
    color: #000000;
    color: #ffffff;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    width:3rem;
    height:3rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

a:visited {
    color: inherit;
  }
a:active{
    color:#8ec9ff
}
.buttonHide:hover{
    background-color: red;
    width: fit-content;
}

.buttonHide:hover span{
    display: none;
}

.buttonHide:hover:after{
    content: "Delete";
    color: white;
    font-weight: bold;
    font-family: "Sen", Helvetica;
}

.textBox{
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    color: #002147;
    font-size: 1.5rem;
    height: 5rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    border: 0.2rem solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

textarea:focus{
    outline: #8ec9ff;
}

ul{
    list-style-type: none;    
    padding: 0;
    margin: 0;
}

ul li {  
    list-style: none;
  }

li{
    align-content: center;
    display:inline-block;    
   
  }
/* 
.ulBox{
    width: 30rem;
    height: 100vh;
} */

/* .ulBox_delete-list{
    display: flex;
    align-items: center;
} */

.ulBox_div{
    word-wrap: break-word;
    width: 90%;
    margin-top: 2rem;
}

/* .ulBox_button{
    align-self: center;
    margin-top: 2rem;
}

.ulBox_button:hover{
    background-color: rgb(255, 0, 204);
    color: white;
    margin-right: 2rem;
} */

.loader {
    border: 1rem solid #bababa; /* Light grey */
    border-top: 1rem solid #253d4e; /* Blue */
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    z-index: 100;
    animation: spin 2s linear infinite;
  }
.mainDiv{
    width:70%;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 

  .whitePageLoader{
    position:absolute;
    background-color: white;
    opacity: 0.5; 
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.buttonHide{
    margin-right: 1rem;
}


/* ----------------      MEDIA      ------------------- */

@media(min-width: 720px){
    .loader {
        position: absolute;
    }
    
    .mainDiv{
        width:50%;
    }
}

@media(max-width: 720px){
    .loader {
        position: absolute;
    }
    
    .mainDiv{
        width:60%;
    }
}

@media(max-width: 529px){
    .loader {
        position: absolute;
    }

    .ulBox{
        width: 50rem;
        height: 100vh;
    }

    .mainDiv{
        width:70%;
    }

}

@media(max-width: 422px){
    .loader {
        position: absolute;
        border: 0.5rem solid #bababa; /* Light grey */
        border-top: 0.5rem solid #253d4e; /* Blue */
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        z-index: 100;
        animation: spin 2s linear infinite;
      }
      

    .textBox{
        width: 100%;
        height: 5rem;
        padding: 1rem 1rem;
        box-sizing: border-box;
        border: 0.2rem solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }
    
    h1{
        font-family: "Merriweather";
        text-align: center;
        font-size: 2.5rem ;
    }
    
    h2{
        font-size: 2rem;
        font-family: "Merriweather";
        font-style: italic;
    }

    body{
        font-size: 1.5rem;
    }

    .ulBox{
        width: 20rem;
        height: 100vh;
    }

    .mainDiv{
        width:80%;
    }

    button{
        font-size: 1.5rem;
             
    }
}

